@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Colors */
  --accent: #0079ff;
  --accent-hover: #60abff;
  /* Light Mode */
  --main-light: #f6f8ff;
  --secondary-light: #fefefe;
  --gray: #697c9a;
  --blue-gray: #4b6a9b;
  /* Dark Mode */
  --main-dark: #141d2f;
  --secondary-dark: #1e2a47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--main-light);
  font-size: 0.938rem;
  line-height: 25px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}

h1 {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 38px;
}

.dark h1,
h2,
h3 {
  color: white;
}

h2 {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 33px;
}

h3 {
  line-height: 24px;
}

h4 {
  font-size: 0.813rem;
  line-height: 20px;
}

.dark body {
  background: var(--main-dark);
}
