@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Colors */
  --accent: #0079ff;
  --accent-hover: #60abff;
  /* Light Mode */
  --main-light: #f6f8ff;
  --secondary-light: #fefefe;
  --gray: #697c9a;
  --blue-gray: #4b6a9b;
  --dark-gray: #2b3442;
  /* Dark Mode */
  --main-dark: #141d2f;
  --secondary-dark: #1e2a47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: var(--main-light);

  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}

a {
  font-size: 0.813rem;
}

.dark h1,
.dark h2,
.dark h3,
.dark p {
  color: white;
}

h1,
h2,
h3,
h4 {
  color: black;
}

h1 {
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 38px;
}

p {
  color: var(--blue-gray);
  font-size: 0.813rem;
  line-height: 25px;

  text-overflow: ellipsis;
  overflow: hidden;
}

h2 {
  font-weight: bold;
  font-size: 1.375rem;
  line-height: 33px;
}

h3 {
  line-height: 24px;
  font-weight: bold;
}

h4 {
  font-size: 0.813rem;
  line-height: 20px;
}

.dark body {
  background: var(--main-dark);
}

@media (min-width: 768px) {
  h3 {
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 38px;
  }

  p {
    font-size: 0.938rem;
  }
}
